 <h2>Buy or Sell Trades </h2>
<form class="form" [formGroup]="buyerForm">
<h2>Buy or Sell Trades </h2>
    <h5>Ticker Symbol</h5>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Ticker symbol</mat-label>
        <input type="text"
        [(ngModel)]="ticker"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            formcontrolName="Tick">
        <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="OnHumanSelected(ticker)"  *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
        </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <h6 style="color:red;" [hidden]="this.flag==2">Invalid Option</h6>
     
    <h5>Choose quantity</h5> 
    <mat-form-field class="full-width"appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput formControlName="Quantity">
    </mat-form-field>

    <h5>Price</h5>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput formControlName="Price">
    </mat-form-field>
     <button (click)="BuyFormData()">Buy Trade</button>
     <button (click)="SellFormData()">Sell Trade</button>
     <h5  style="color:red;" [hidden]="hello==0">Please choose correct option</h5> 
      </form>

     