
<div width="100%">
    <app-ticker-table style="width:400px;float:left;"></app-ticker-table>
    <app-chart ></app-chart>
    <div style="height:600px;margin-right:10px;margin-left:1650px;">
        <p-card >
            <ng-template pTemplate="header">
                Details
            </ng-template>
            Body Content <br>
            The Closing Price is :  
        </p-card>
    </div>
</div>

<div style="width:100%;">
<app-buy-sell></app-buy-sell>
<div class="car">
    <div class="contr">
    <table style="text-align: center;"> 
    <tr><td><b>Equity</b></td><td>{{data.equity_value}}</td></tr>
    <hr>
    <tr><td><b>Cash</b></td><td>{{data.cash}}</td></tr>
    <hr>
    <tr><td><b>Total</b></td><td>{{data.cash}}</td></tr>
    <hr>
    </table>
    </div>
    <button mat-raised-button style="margin-left:15px;" (click)="router.navigate(['/home']);">&nbsp; Click here to Edit &nbsp;</button>
    <br>
    <br>
</div>  
</div>
            