
hello
<app-ticker-table></app-ticker-table>
<div style="width:100%;">
<app-buy-sell></app-buy-sell>
<div class="car">
    <div class="contr">
    <table style="text-align: center;"> 
    <tr><td><b>Equity</b></td><td>{{data.equity_value}}</td></tr>
    <hr>
    <tr><td><b>Cash</b></td><td>{{data.cash}}</td></tr>
    <hr>
    <tr><td><b>Total</b></td><td>{{data.cash}}</td></tr>
    <hr>
    </table>
    </div>
    <button mat-raised-button style="margin-left:15px;" (click)="router.navigate(['/home']);">&nbsp; Click here to Edit &nbsp;</button>
    <br>
    <br>
</div>  
</div>
            